ul li.checked{
    background:rgb(212, 226, 9);
    color: red;
    text-decoration: line-through;
}

.close{
    position:absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    
}

#deleteAll{
    position:absolute;
    right: 5px;
    top: 1px;
}